@import '@mdi/font/css/materialdesignicons.min.css';

/* import tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Unique reusable */
.heading {
  position: relative;
}

.heading::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #0891b2;
  border-radius: 5px;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}
