@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&family=Oswald:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

/* Utilities */
@media screen and (min-width: 768px) {
    .d-flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-space-between {
        justify-content: space-between;
    }

    .align-center {
        align-items: center;
    }

    .justify-space-around {
        justify-content: space-around;
    }
}

.f-dir-column {
    flex-direction: column;
}

.pa-2 {
    padding: 2rem;
}

.ma-2 {
    margin: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

/* Unique reusable */
.naslov {
    position: relative;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(48, 56, 56);
    text-transform: uppercase;
}

.naslov::before {
    content: '';
    width: 80px;
    height: 6px;
    background-color: rgb(0, 152, 172);
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.m-b-md {
    margin-bottom: 15px;
}

/* Admin */
.input-field {
    padding: 1.5em 1.25em;
    border: 1px solid #5f6565;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input-field:focus ~ .focus-el {
    width: 100%;
    left: 0;
}

.focus-el {
    width: 0;
    height: 2.8px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #5f6565;
    transition: 300ms;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    opacity: 0.5;
    color: #000;
}
